extends layout

block content
  .module__body(data-services=services, data-timer=timer)
    .service.js-service(data-service='github')
      .js-status
        p github
      include loading
    .service.js-service(data-service='npm-registry')
      .js-status
        p npm registry
      include loading
    .service.js-service(data-service='npm-www')
      .js-status
        p npm www
      include loading
    .service.js-service(data-service='pivotaltracker')
      .js-status
        p pivotal tracker
      include loading
    .service.js-service(data-service='clocknpm')
      .js-status
        p Clock npm
      include loading